@import '~antd/lib/style/themes/default.less';

.nav-link {
  display: inline-block;
  padding: 0 20px;
  color: inherit;

  &.active {
    color: @primary-color;
    border-bottom: 2px solid @primary-color;
  }
}
