.bicycle-card {
  .img-cover,
  .img-cover > .ant-skeleton-avatar {
    display: block;
    border: 1px solid #f0f0f0;
    height: 220px;
    width: 100%;
    object-fit: cover;
  }

  .ant-skeleton {
    width: 100%;

    .ant-skeleton-input {
      width: 100%;
    }
  }
}
