.product-card {
    width: 100%;
    .ant-card-body {
        width: 100%;

        .btn-cash {
            width: 40px;
            height: 40px;
        }
    }

    .footer-card {
        display: flex;
        justify-content: space-between;
    }

    .ant-card-cover {
        .img-card {
            border: 1px solid #f0f0f0;
        }
    }
}
