@import '~antd/lib/style/themes/default.less';

.home-navigation {
  display: flex;
  align-items: center;
  background-color: @body-background;
  box-shadow: 0 5px 22px 0 rgba(0, 0, 0, 0.05);
  font-weight: 500;

  &__menu {
    display: flex;
    align-items: center;
    width: 100%;
    text-transform: uppercase;

    li {
      margin: 0 0.7vw;
    }

    li.actions {
      margin-left: auto;

      .ant-select {
        min-width: 130px;
      }
    }
  }

  .hamburger {
    display: none;
    margin-left: 10px;

    div {
      width: 30px;
      height: 3px;
      background-color: @black;
      margin: 5px;
      transition: all 0.3s ease;
    }

    /*Animating Hamburger Icon on Click*/
    &.toggle .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
    &.toggle .line2 {
      transition: all 0.7s ease;
      width: 0;
    }
    &.toggle .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
}

// For responsive
@media screen and (max-width: 992px) {
  .home-navigation {
    padding: 0 25px;

    .hamburger {
      display: block;
      margin-left: auto;
      cursor: pointer;
      z-index: 2;
      transition: all 0.7s ease;
    }

    &__menu {
      position: fixed;
      background-color: @background-color-base;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      flex-direction: column;
      clip-path: circle(50px at 90% -20%);
      transition: all 0.7s ease-out;
      pointer-events: none;
      z-index: 1;

      &.open {
        pointer-events: all;
        clip-path: circle(1100px at 90% -10%);
      }

      & > li {
        opacity: 0;

        &:nth-child(1) {
          transition: all 0.5s ease 0.2s;
        }
        &:nth-child(2) {
          transition: all 0.5s ease 0.4s;
        }
        &:nth-child(3) {
          transition: all 0.5s ease 0.6s;
        }
        &:nth-child(4) {
          transition: all 0.5s ease 0.7s;
        }
        &:nth-child(5) {
          transition: all 0.5s ease 0.8s;
        }
        &:nth-child(6) {
          transition: all 0.5s ease 0.9s;
          margin: 0;
        }
        &:nth-child(7) {
          transition: all 0.5s ease 1s;
          margin: 0;
        }

        &.fade {
          opacity: 1;
        }
      }

      & > li.actions {
        margin-left: 0;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .home-navigation {
  }
}
