@import '~antd/lib/style/themes/default.less';

.home-navigation {
  background-color: @body-background;
  box-shadow: 0 5px 22px 0 rgba(0, 0, 0, 0.05);
  font-weight: 500;

  .ant-menu {
    border: none;
  }

  &__actions {
    margin-left: auto;
    .ant-select {
      min-width: 130px;
    }
  }
}
