@import '~antd/lib/style/themes/default.less';

.shop-page {
  padding: 100px 0;
  background-color: @body-background;

  &__wrapper {
    display: flex;

    h5.ant-typography {
      margin: 0;
    }

    & .filter-bar-ctn {
      width: 25%;
      position: relative;

      & .filter-bar {
        width: 100%;

        & .price-input {
          display: flex;
          justify-content: center;

          & .ant-input-number-input {
            color: #000;
          }
        }

        & .ant-checkbox-group {
          display: flex;
          flex-direction: column;
        }
      }

      & .button-ctn {
        width: 100%;
        margin: 2rem 0;
        height: fit-content;

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        bottom: 5px;
        left: 0;

        & .ant-btn {
          width: 150px;
          height: 50px;
        }

        & .ant-btn-circle {
          height: 50px;
          width: 50px;
        }
      }
    }

    .shop-page-product {
      padding: 0 30px;
      max-width: 100%;
      width: 100%;

      overflow-y: auto;

      .shop-title {
        margin: 1rem 0;
      }

      .product-search {
        width: 100%;
      }

      .product-pagination {
        display: flex;
        justify-content: flex-end;
        margin: 1rem 0;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .shop-page {
    &__wrapper {
      flex-direction: column;

      & .filter-bar-ctn {
        width: 100%;

        & .button-ctn {
          position: static;
        }
      }
    }
  }
}
