@import '~antd/lib/style/themes/default.less';

.shop-page {
  padding: 100px 0;
  background-color: @body-background;

  .shop-page-wrapper {
    .shop-page-title {
      text-align: center;
    }

    .filter-search {
      margin-bottom: 1rem;
    }

    .order-by {
      .order-by-label {
        padding-right: 10px;
      }

      .ant-btn {
        margin-right: 10px;
      }
    }
  }

  .ant-pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .shop-page {
    .container {
      .shop-page-wrapper {
        .order-by {
          margin-bottom: 1rem;
        }

        .search-input {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
