@import '~antd/lib/style/themes/default.less';

.shop-page {
  padding: 100px 0;
  background-color: @body-background;

  .shop-page-wrapper {
    .shop-page-title {
      text-align: center;
    }

    .order-by {
      .order-by-label {
        padding-right: 10px;
      }

      .ant-btn {
        margin-right: 10px;
      }
    }
    
  }

  .ant-pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}
@media (max-width: 1200px) {
  .shop-page {
    .shop-page-wrapper {
      .bicycles-data {
        column-span: 6 !important;
          
      }
      
    }
  
  }

}
@media only screen and (max-width: 1000px) {
  .shop-page {
    .shop-page-wrapper {
      .bicycles-data {
        column-span: 6 !important;
          
      }
      
    }
  
  }


}
