.footer{
    background-color: black;
    .container {
        display: grid;
        grid-auto-flow: column;
        align-content: space-between;
        justify-content: stretch;
        padding: 30px;
        border-bottom: 1px solid #b3b3b3;
        .item-a, .item-b, .item-c, .item-d{
            list-style-type: none;
            .footer-title{
                font-size: 30px;
                color: #b3b3b3 !important;
            }
            .contact-footer{
                display: flex;
                gap: 5px;
            }
            li{
                padding-bottom: 15px;
            }
            li, a {
                color: #fff !important;
            }
            li .search-footer{
                .search-input-footer{
                    width: 60%;

                }
               
            }
        }
 
    }

    .subfooter{
        border-top-width: 80px;
        text-align: center;
        padding: 20px;
        color: #b3b3b3;
    }
}