@import '~antd/lib/style/themes/default.less';

.footer {
  background-color: @body-background;
  border-top: 1px solid @border-color-base;
  .item-1 {
    grid-area: item-1;
  }
  .item-2 {
    grid-area: item-2;
  }
  .item-3 {
    grid-area: item-3;
  }
  .item-4 {
    grid-area: item-4;
  }
  .item-5 {
    grid-area: item-5;
  }
  .item-6 {
    grid-area: item-6;
  }
  .container {
    display: grid;
    grid-auto-flow: column;
    justify-content: stretch;
    align-content: space-between;
    grid-template-areas:
      'item-1 item-2 item-3 item-4 item-5'
      'item-6 item-6 item-6 item-6 item-6';
    gap: 40px;
    grid-row-gap: 2rem;
    padding-top: 40px;
    border-bottom: 1px solid #b3b3b3;
    .item-6 {
      justify-content: center;
      .search-footer {
        text-align: center;
        .search-input-footer {
          padding-bottom: 30px;
          width: 50%;
          min-width: 300px;
        }
      }
    }
    .item-1,
    .item-2,
    .item-3,
    .item-4,
    .item-5 {
      list-style-type: none;
      .footer-title {
        font-size: 22px;
        color: #000 !important;
        .logo-img {
          float: none !important;
        }
      }
      .shop-info {
        color: #000 !important;
        text-align: justify;
      }
      .contact-footer {
        display: flex;
        gap: 5px;
      }
      li {
        padding-bottom: 15px;
      }
      li,
      a {
        color: #000;
      }
      li,
      a:hover {
        color: #dd2f38;
      }
    }
  }
  .subfooter {
    text-align: center;
    padding: 20px;
    color: #000;
  }
}

@media (max-width: 1267px) {
  .footer {
    .container {
      gap: 20px;
    }
  }
}

@media (max-width: 992px) {
  .footer {
    padding: 20px;
    .container {
      grid-template-areas:
        'item-1 item-1 item-1 item-1'
        'item-2 item-3 item-4 item-5'
        'item-6 item-6 item-6 item-6';
    }
  }
}

@media (max-width: 600px) {
  .footer {
    .container {
      grid-template-areas:
        'item-1'
        'item-2'
        'item-3'
        'item-4'
        'item-5'
        'item-6';
    }
  }
}
