@import '~antd/lib/style/themes/default.less';

.bicycle-detail-page {
  padding: 100px 0;
  background-color: @body-background;

  .content {
    .detail-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__info {
        .available-txt {
          display: block;
          height: 22px;
        }

        .bicycle-name {
          line-height: 40px;
        }

        .price {
          font-weight: 500;
          color: @primary-color;
          margin-top: 0;
          margin-bottom: 0;
        }

        .bicycle-name,
        .color {
          font-weight: 500;
          margin-top: 19px;
          margin-bottom: 0;
        }

        .rating-box {
          margin-top: 5px;
          display: flex;
          align-items: center;

          .rate {
            font-size: 14px;
          }

          .ant-typography {
            margin-left: 10px;
            color: @blue-7;
          }
        }

        .color {
          line-height: 26px;
          font-weight: 500;
        }

        .desc {
          // margin: 20px 0;
        }
      }

      &__buy-box {
        margin-top: 20px;

        .form {
          .form-content {
            display: flex;
            justify-content: space-between;
            gap: 20px;

            .select-item {
              flex: 1;
            }
          }

          .submit-btn {
            width: 100%;
            min-height: 60px;
            font-size: 24px;
          }
        }
      }
    }

    .services {
      border: 1px solid @border-color-base;
      padding: 20px;
      padding-bottom: 0;
      border-radius: 4px;

      .services-item {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;

        &__icon {
          font-size: 36px;
          color: @primary-6;
        }

        &__content {
          h4.ant-typography {
            margin-bottom: 0;
          }
        }
      }
    }

    .bicycle-parts {
      padding-top: 20px;

      .ant-table {
        .name-column {
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
  }
}