@import './grid.less';
@import '~antd/lib/style/themes/default.less';

#root {
    height: 100%;
    width: 100%;
}

.ant-layout-header {
    z-index: 10;
}

.ant-layout-content {
    background-color: @body-background;
}