& .filter-bar-ctn {
    height: 100%;

    & .filter-bar {
      width: 100%;

      & .price-input {
        display: flex;
        justify-content: center;

        & .ant-input-number-input {
          color: #000;
        }
      }

      & .ant-checkbox-group {
        display: flex;
        flex-direction: column;
      }
    }
  }