.bicycleManagement {
  min-height: 100vh;

  .header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .trigger {
      font-size: 25px;
    }
  }

  .sidebar {
    background-color: #fafafa;

    .logo {
      height: 50px;
    }
  }

  .content {
    padding: 15px;
    background-color: aliceblue;

    .action {
      text-align: right;
      padding-bottom: 15px;
      button:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

.modalAddBicycle {
  width: 50% !important;
  min-width: 500px;
  //padding-bottom: 0px;
  //top: 50%;
  //transform: translateY(-50%);
}
